@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    --sb-track-color: #f1f5f7;
    --sb-thumb-color: rgba(0, 0, 0, 0.3);
    --sb-size: 5px;
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

*::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
}

*::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
}
body {
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
}
span,
tr {
    font-family: "Onest", sans-serif;
}
.jodit-container {
    border-radius: 0px;
    border-color: rgba(255, 0, 255, 0.3);
}
.jodit-wrapper {
    min-width: 100%;
}
.jodit-toolbar__box {
    top: 55px !important;
}
.jodit-add-new-line,
.jodit-add-new-line_after {
    display: none !important;
}
