.ProseMirror{
    @apply min-w-full prose p-0 dark:prose-invert focus:outline-none;
    @apply prose-blockquote:border-pink-400 dark:prose-blockquote:border-pink-800 prose-headings:m-0 prose-headings:mb-3;
    @apply prose-img:max-w-full prose-img:h-auto prose-img:rounded-md dark:prose-headings:text-slate-300;
    @apply  dark:prose-strong:text-slate-300;
    @apply  prose-headings:text-slate-700;
    @apply  underline-offset-4;
    @apply  prose-img:m-0;
    font-family: 'Chakra Petch', sans-serif;
}

.ProseMirrorReplica{
    @apply prose p-0  dark:prose-invert focus:outline-none;
}
.has-focus {
    @apply border-2 rounded-md px-2  border-fuchsia-400;

}
.note form {
    @apply w-full overflow-hidden rounded-lg;
}
code {
    font-size: 0.9rem;
    padding: 0.25em;
    border-radius: 0.25em;
    background-color: rgba(#616161, 0.1);
    color: #616161;
    box-decoration-break: clone;
}
ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

    p {
        margin: 0;
    }

    li {
        display: flex;

        >label {
            flex: 0 0 auto;
            margin-right: 0.5rem;
            user-select: none;
        }

        >div {
            flex: 1 1 auto;
        }

        ul li,
        ol li {
            display: list-item;
        }

        ul[data-type="taskList"]>li {
            display: flex;
        }
    }
}

.mark-relative {
    @apply bg-violet-100 text-violet-600 dark:bg-violet-600 dark:text-violet-100 font-medium;
    @apply p-1 rounded-md;
    box-decoration-break: clone;
}

.mark-subject {
    @apply bg-gray-300 text-gray-900 dark:bg-gray-900 dark:text-gray-300 font-medium;
    @apply p-1 rounded-md;
    box-decoration-break: clone;
}

mark, .mark-verb {
    @apply bg-amber-100 text-amber-600 dark:bg-amber-600 dark:text-amber-100 font-medium;
    @apply p-1 rounded-md;
    box-decoration-break: clone;
}


.mark-complement, .mark-connector {
    @apply bg-lime-100 text-lime-900 dark:bg-lime-900 dark:text-lime-100 font-medium;
    @apply p-1 rounded-md;
    box-decoration-break: clone;
}
.mark-preposition, .mark-urgent {
    @apply bg-red-100 text-red-600 dark:bg-red-600 dark:text-red-100 font-medium;
    @apply p-1 rounded-md;
    box-decoration-break: clone;
}

.unmark {
    @apply bg-slate-200 text-slate-600 dark:bg-slate-600 dark:text-slate-100 font-medium;
    @apply p-1 rounded-md;
    box-decoration-break: clone;
}

.ProseMirror {
    table {
        border-collapse: collapse;
        table-layout: fixed;
        margin: 0;
        overflow: hidden;

        td,
        th {
            min-width: 1em;
            border: 2px solid #ced4da;
            padding: 3px 5px;
            vertical-align: top;
            box-sizing: border-box;
            position: relative;
            @apply dark:bg-transparent;

            >* {
                margin-bottom: 0;
            }
        }

        th {
            font-weight: bold;
            text-align: left;
            background-color: #f1f3f5;
        }

        .selectedCell:after {
            z-index: 2;
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(200, 200, 255, 0.4);
            pointer-events: none;
        }

        .column-resize-handle {
            position: absolute;
            right: -2px;
            top: 0;
            bottom: -2px;
            width: 4px;
            background-color: #adf;
            pointer-events: none;
        }

        p {
            margin: 0;
        }
    }
}

.tableWrapper {
    padding: 1rem 0;
    overflow-x: auto;
}

.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
}

.controls-panel{
    @apply flex flex-col min-w-[200px] shadow-lg gap-4 max-h-52 overflow-y-auto md:mr-6;
    @apply bg-slate-100 dark:bg-slate-800;
    @apply p-3 rounded border-2 border-fuchsia-400;
}

.controls-panel button:is(.soft) {
    @apply first-letter:uppercase text-sky-400;
}

.ProseMirror p{
     @apply w-full break-all;
}

.ProseMirror span[data-tippy-content]{
    @apply bg-green-100 text-green-900 dark:bg-green-900 dark:text-green-100 font-medium;
    @apply p-1 rounded-md;
    @apply shadow;
}
.tippy-box[data-theme~='tomato'] {
    @apply bg-sky-100 text-sky-700 dark:bg-sky-700 dark:text-sky-100;
    @apply px-2 rounded-md;
    @apply shadow-md;
    @apply border-2 border-sky-200;
    @apply first-letter:uppercase;
    font-family: 'Chakra Petch', sans-serif;

}


